@charset 'UTF-8';

//Breakpoints
$breakpoint--small: calcPxToRem(520px);
$breakpoint--med: calcPxToRem(760px);
$breakpoint--large: calcPxToRem(1100px);


//Mixin für Breakpoints
@mixin break($point) {
  @if $point == small {
    @media (max-width: $breakpoint--small) {
      @content
    }
  }
  @else if $point == medium {
    @media (max-width: $breakpoint--med) {
      @content
    }
  }
  @else if $point == large {
    @media (max-width: $breakpoint--large) {
      @content
    }
  }
  @else if $point == print {
    @media print {
      @content
    }
  }
};
