@charset 'UTF-8';

$font-path: '../media/fonts' !default;


//PT Sans Regular
@font-face {
font-family: "ptsans_regular";
font-weight: normal;
font-style : normal;
       src : url("#{$font-path}/ptsans_regular/PTS55F-webfont.eot");
       src : url("#{$font-path}/ptsans_regular/PTS55F-webfont.eot?#iefix") format("embedded-opentype"),
             url("#{$font-path}/ptsans_regular/PTS55F-webfont.woff2") format("woff2"),
             url("#{$font-path}/ptsans_regular/PTS55F-webfont.woff") format("woff"),
             url("#{$font-path}/ptsans_regular/PTS55F-webfont.ttf") format("truetype"),
             url("#{$font-path}/ptsans_regular/PTS55F-webfont.svg") format("svg");
}

//PT Sans Bold
@font-face {
font-family: "ptsans_bold";
font-weight: normal;
font-style : normal;
       src : url("#{$font-path}/ptsans_bold/PTS75F-webfont.eot");
       src : url("#{$font-path}/ptsans_bold/PTS75F-webfont.eot?#iefix") format("embedded-opentype"),
             url("#{$font-path}/ptsans_bold/PTS75F-webfont.woff2") format("woff2"),
             url("#{$font-path}/ptsans_bold/PTS75F-webfont.woff") format("woff"),
             url("#{$font-path}/ptsans_bold/PTS75F-webfont.ttf") format("truetype"),
             url("#{$font-path}/ptsans_bold/PTS75F-webfont.svg") format("svg");
}

//Droid Serif Regular
@font-face {
font-family: "droidserif_regular";
font-weight: normal;
font-style : normal;
       src : url("#{$font-path}/droidserif_regular/DroidSerif-Regular-webfont.eot");
       src : url("#{$font-path}/droidserif_regular/DroidSerif-Regular-webfont.eot?#iefix") format("embedded-opentype"),
             url("#{$font-path}/droidserif_regular/DroidSerif-Regular-webfont.woff2") format("woff2"),
             url("#{$font-path}/droidserif_regular/DroidSerif-Regular-webfont.woff") format("woff"),
             url("#{$font-path}/droidserif_regular/DroidSerif-Regular-webfont.ttf") format("truetype"),
             url("#{$font-path}/droidserif_regular/DroidSerif-Regular-webfont.svg") format("svg");
}



//Funktion um REM zu berechnen. 1rem = 16px.
@function calcPxToRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

// Mixin für Regular
@mixin font-style-bold {
  font-family:'ptsans_bold';
  font-weight: 400;
}
// Mixin für Fett
@mixin font-style-regular {
  font-family:'ptsans_regular';
  font-weight: 400;
}


//Überschriften
h1 {
  font-family: 'droidserif_regular';
  font-weight: 600;
  margin: 0;
  @include break(print) {
    page-break-after:avoid;
    page-break-inside:avoid;
  }
}

h2 {
  font-family:'droidserif_regular';
  font-weight: 400;
  font-size: calcPxToRem(30px);
  margin-top: 0;
  @include break(print) {
    page-break-after:avoid;
    page-break-inside:avoid;
  }
}

h3 {
  font-family:'droidserif_regular';
  font-weight: 400;
  margin-top: 0;
  @include break(print) {
    page-break-after:avoid;
    page-break-inside:avoid;
  }
}

h4 {
  font-family:'ptsans_bold';
  font-weight: 400;
  margin-top: 0;
  @include break(print) {
    page-break-after:avoid;
    page-break-inside:avoid;
  }
}

//Font Awesome
$fontawesome-font-path: '../media/fonts/fontawesome' !default;
@font-face {
font-family: "FontAwesome";
font-weight: normal;
font-style : normal;
       src : url("#{$fontawesome-font-path}/fa-regular-400.eot");
       src : url("#{$fontawesome-font-path}/fa-regular-400.eot?#iefix") format("embedded-opentype"),
             url("#{$fontawesome-font-path}/fa-regular-400.woff2") format("woff2"),
             url("#{$fontawesome-font-path}/fa-regular-400.woff") format("woff"),
             url("#{$fontawesome-font-path}/fa-regular-400.ttf") format("truetype"),
             url("#{$fontawesome-font-path}/fa-regular-400.svg") format("svg");
}

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url("#{$fontawesome-font-path}/fa-brands-400.eot");
  src: url("#{$fontawesome-font-path}/fa-brands-400.eot?#iefix") format("embedded-opentype"),
       url("#{$fontawesome-font-path}/fa-brands-400.woff2") format("woff2"),
       url("#{$fontawesome-font-path}/fa-brands-400.woff") format("woff"),
       url("#{$fontawesome-font-path}/fa-brands-400.ttf") format("truetype"),
       url("#{$fontawesome-font-path}/fa-brands-400.svg#fontawesome") format("svg");
}
.fab {font-family: 'Font Awesome 5 Brands'; }

@font-face {
  font-family: 'Font Awesome 5 Regular';
  font-style: normal;
  font-weight: 400;
  src: url("#{$fontawesome-font-path}/fa-regular-400.eot");
  src: url("#{$fontawesome-font-path}/fa-regular-400.eot?#iefix") format("embedded-opentype"),
    url("#{$fontawesome-font-path}/fa-regular-400.woff2") format("woff2"),
    url("#{$fontawesome-font-path}/fa-regular-400.woff") format("woff"),
    url("#{$fontawesome-font-path}/fa-regular-400.ttf") format("truetype"),
    url("#{$fontawesome-font-path}/fa-regular-400.svg#fontawesome") format("svg");
}
.far {
  font-family: 'Font Awesome 5 Regular';
  font-weight: 400;
}

@font-face {
  font-family: 'Font Awesome 5 Regular';
  font-style: normal;
  font-weight: 900;
  src: url("#{$fontawesome-font-path}/fa-solid-900.eot");
  src: url("#{$fontawesome-font-path}/fa-solid-900.eot?#iefix") format("embedded-opentype"),
    url("#{$fontawesome-font-path}/fa-solid-900.woff2") format("woff2"),
    url("#{$fontawesome-font-path}/fa-solid-900.woff") format("woff"),
    url("#{$fontawesome-font-path}/fa-solid-900.ttf") format("truetype"),
    url("#{$fontawesome-font-path}/fa-solid-900.svg#fontawesome") format("svg");
  }

.fa, .fas
{
  font-family: 'Font Awesome 5 Regular';
  font-weight: 900;
}
