@charset 'UTF-8';

html {
  font-size: 100%; //Browser default. 100% = 16px.
  font-family:'ptsans_regular';
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 30px 0;
}
figcaption {
  font-size: 80%;
}
