@charset 'UTF-8';

.img-responsive {
  max-width: 100%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.nowrap {
  white-space: nowrap;
}

.right {float:right;}
.left {float:left;}
.relative {position:relative;}
