@charset 'UTF-8';

//Farben
$color__brand--primary: #40B734 !default; //Grün
$color__brand--primary-brighter: #63D158 !default; //Hellgrün
$color__brand--primary-darker: #249A18 !default; //Dunkelgrün
$color__brand--primary-b: #FFFFFF !default; //Kontrastfarbe z.B. für Text
$color__brand--secondary: #40B734 !default; //Blau
$color__brand--secondary-b: #FFFFFF !default; //Kontrastfarbe z.B. für Text

$color__bg: #FFFFFF !default;

$color__text: #333333 !default;

$color__gray-bright: #F0F4FA !default;
$color__gray-medium: #9B9B9B !default;
$color__gray-dark: #333333 !default;

$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
