@charset 'UTF-8';

//Index Seite
.badge-idx {
  display: block;
  background: #b0b0b0;
  border: 1px solid $color__gray-medium;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.14),0 2px 2px 0 rgba(0,0,0,0.12),0 1px 3px 0 rgba(0,0,0,0.2);
}

.badge-idx img {
  display: block;
}

.badge-idx a {
  cursor: default;
}
.badge-idx.collected a {
  cursor: pointer;
}

//Badge Detailseite
.badge__top {
  margin-top: -15px;
  padding: 30px 0;
  background: $color__gray-bright;
}
.badge__icon {
  max-width: 150px;
  margin: 0 auto;
}
.badge__title {
  margin-top: 30px;
}
