@charset 'UTF-8';

button, .button {
  color: #000;
  background: #20b573;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid $color__gray-medium;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.14),0 2px 2px 0 rgba(0,0,0,0.12),0 1px 3px 0 rgba(0,0,0,0.2);
  text-decoration: none;
}
