@charset 'UTF-8';

body {
  margin: 0;
  padding: 0;
}

main {
  background: #b0b0b0;
}

.content__container {
  max-width: 720px;
  margin: 0 auto;
  background: #FFF;
  box-sizing: border-box;
  padding:15px 0;
}
