@charset 'UTF-8';

footer {
  width: 100%;
  background-color: darken($color__brand--primary-darker, 10%);
  color: $color__brand--primary-b;
}

.footer__container {
  max-width: 720px;
  margin: 0 auto;
  background-color: $color__brand--primary-darker;
  padding: 10px;
  box-sizing: border-box;
}

.nav-footer__list {
  padding: 0;
}
.nav-footer__item {
  display: inline-block;
}
.nav-footer__link {
  color: #000;
  text-decoration: none;
}
