@charset 'UTF-8';

header {
  width: 100%;
  background-color: darken($color__brand--primary-darker, 10%);
  color: $color__brand--primary-b;
}

.header__container {
  max-width: 720px;
  margin: 0 auto;
  background-color: $color__brand--primary-darker;
  padding: 10px;
  box-sizing: border-box;
}

.header__logo {
  width: 70%;
  padding:0 10px;
  float:left;
  box-sizing: border-box;
}

.header__logo a, .header__logo img {
  display: block;
}
