@charset 'UTF-8';
// SIMPLE GRID - SASS/SCSS
// mit Anpassungen

$width: 95%;
$gutter: 5%;
$width--no-gutter: 100%;

//Breakpoints werden in _b-breakpoints.scss definiert

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: $breakpoint--small) {
    width: 80%;
  }

  @media only screen and (min-width: $breakpoint--large) {
    width: 75%;
    max-width: 60rem;
  }
}

.row {
  position: relative;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2.5%;
  min-height: 0.125rem;
}
.row [class^="col"][class*="--no-gutter"] {
  float: left;
  margin: 0;
  min-height: 0.125rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: $width;
}

.col-1-sm { width:($width / 12) - ($gutter * 11 / 12); }
.col-2-sm { width: ($width / 6) - ($gutter * 10 / 12); }
.col-3-sm { width: ($width / 4) - ($gutter * 9 / 12); }
.col-4-sm { width: ($width / 3) - ($gutter * 8 / 12); }
.col-5-sm { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
.col-6-sm { width: ($width / 2) - ($gutter * 6 / 12); }
.col-7-sm { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
.col-8-sm { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
.col-9-sm { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
.col-10-sm { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
.col-11-sm { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
.col-12-sm { width: $width; }

.col-1-sm--no-gutter { width:($width--no-gutter / 12); }
.col-2-sm--no-gutter { width: ($width--no-gutter / 6); }
.col-3-sm--no-gutter { width: ($width--no-gutter / 4); }
.col-4-sm--no-gutter { width: ($width--no-gutter / 3); }
.col-5-sm--no-gutter { width: ($width--no-gutter / (12 / 5)); }
.col-6-sm--no-gutter { width: ($width--no-gutter / 2); }
.col-7-sm--no-gutter { width: ($width--no-gutter / (12 / 7)); }
.col-8-sm--no-gutter { width: ($width--no-gutter / (12 / 8)); }
.col-9-sm--no-gutter { width: ($width--no-gutter / (12 / 9)); }
.col-10-sm--no-gutter { width: ($width--no-gutter / (12 / 10)); }
.col-11-sm--no-gutter { width: ($width--no-gutter / (12 / 11)); }
.col-12-sm--no-gutter { width: $width--no-gutter; }

@media only screen and (min-width: $breakpoint--med) {
  .col-1 { width:($width / 12) - ($gutter * 11 / 12); }
  .col-2 { width: ($width / 6) - ($gutter * 10 / 12); }
  .col-3 { width: ($width / 4) - ($gutter * 9 / 12); }
  .col-4 { width: ($width / 3) - ($gutter * 8 / 12); }
  .col-5 { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
  .col-6 { width: ($width / 2) - ($gutter * 6 / 12); }
  .col-7 { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
  .col-8 { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
  .col-9 { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
  .col-10 { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
  .col-11 { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
  .col-12 { width: $width; }

  .col-1--no-gutter { width:($width--no-gutter / 12); }
  .col-2--no-gutter { width: ($width--no-gutter / 6); }
  .col-3--no-gutter { width: ($width--no-gutter / 4); }
  .col-4--no-gutter { width: ($width--no-gutter / 3); }
  .col-5--no-gutter { width: ($width--no-gutter / (12 / 5)); }
  .col-6--no-gutter { width: ($width--no-gutter / 2); }
  .col-7--no-gutter { width: ($width--no-gutter / (12 / 7)); }
  .col-8--no-gutter { width: ($width--no-gutter / (12 / 8)); }
  .col-9--no-gutter { width: ($width--no-gutter / (12 / 9)); }
  .col-10--no-gutter { width: ($width--no-gutter / (12 / 10)); }
  .col-11--no-gutter { width: ($width--no-gutter / (12 / 11)); }
  .col-12--no-gutter { width: $width--no-gutter; }

  .hidden-sm {
    display: block;
  }
}
